<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="buildServers" class="mat-elevation-z4">

      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{getName(element)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{getTypeDisplayValue(element.type)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element">
          <button mat-icon-button (click) = "edit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-card-actions align="end">
      <button mat-fab color="primary" aria-label="Add new profile" (click)="addBuildServer()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>
