<mat-card class="card">
  <mat-card-header>
    <ng-container [ngSwitch]="isNewMode">
      <mat-card-title *ngSwitchCase="true">Create new profile</mat-card-title>
      <mat-card-title *ngSwitchDefault>Edit profile</mat-card-title>
    </ng-container>
  </mat-card-header>
  <mat-card-content>
    <div class="form">
      <mat-form-field class="full-width">
        <mat-label>Profile name</mat-label>
        <input [required]="true" matInput id="name" placeholder="My monitor" [(ngModel)]="profile.name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Profile description</mat-label>
        <input matInput id="description" placeholder="e.g. for core developers " [(ngModel)]="profile.description">
      </mat-form-field>
      <div class="full-width form-check-box">
        <mat-checkbox id="isPublic" [(ngModel)]="profile.public">Public</mat-checkbox>
      </div>
    </div>
    <div class="code-editor-wrap">
      <ngx-monaco-editor class="code-editor" [options]="editorOptions" (onInit)="onInit($event)" [(ngModel)]="config"></ngx-monaco-editor>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" class="buttons">
    <button mat-fab color="primary" aria-label="Save" (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Exit" (click)="back()">
      <mat-icon>undo</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

