.card {
  padding: 2em;
}
.full-width {
  width: 100%;
}
.buttons button {
  margin-right: 1em;
}
.code-editor {
  height: 100%
}
.code-editor-wrap {
  height: calc(70vh - 100px);
}
.form-check-box{
margin-bottom: 1em;
}
