<mat-card  [ngClass]="getStatusClass()" class="mat-elevation-z4 exo2 build-card" (click)="openBuildPage()">
  <mat-card-content>
    <div class="build-name">{{buildInfo.name}}</div>
    <div class="project-name">{{buildInfo.projectName}}</div>
    <div class="build-id">{{buildInfo.number}}</div>
    <div class="separator"></div>
   <!-- <div class="build-startedBy">{{buildInfo.startedBy}}</div>
    <div class="build-startedBy">{{buildInfo.statusText}}</div>
    <div class="build-startedBy">{{buildInfo.number}}</div>-->
  </mat-card-content>
</mat-card>
