.build-status-failed {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, #020024 0%, #090979 0%, #ff482b 0%, #83160b 100%);
  color: white;
  button.status-icon {
    background-color: white;
  }
}
.build-status-success {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, #020024 0%, #090979 0%, #30b251 0%, #1d741f 100%);
  button.status-icon{
    background-color: white;
  }
}
